.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}
.pesquisa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    padding: 15px 0;
}
.img_logo{
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.nav_pesquisa{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_pesquisa{
    height: 38px;
    border: 1.5px solid #000;
    border-radius: 20px;
    background: #efefef;
    text-indent: 12px;
    width: 80%;
}
#perfil{
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear;
}
.span_perfil{
    font-size: 11px;
    color: #bababa;
    font-weight: lighter;
}
#nome_perfil{
    color: #7c7c7c;
    font-size: 14px;
    font-weight: bold;
}
.quadro_carousel{
    position: absolute;
    padding: 1.5rem;
    width: 270px;
    height: 220px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #000;
    color: #fff;
    margin: 41px 0px 10px 47px;
}
.quadro_carousel h3 p{
    margin-left: 15px;
}
.btn_quadro_carousel{
    margin-top: 45px;
}
.btn_quadro_carousel a{
    padding: 12px 48px;
    text-align: center;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
}
#img_carousel{
    height:400px; width: 100%;
}
.cursos_container{
    width: 90%;
    padding: 10px 0 0 64px;
    background: #efefef;
}
.cursos_container h1{
    color: #515151;
}
.navbar_cursos{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div_img{
    width: 295px;
    min-height: 394px;
    background-color: transparent;
    margin: 15px 5px;
    border: solid 1px #cecece;
    filter: drop-shadow(0 0 2px #cecece);
    color: var(--cinza-padrao);
    transition: 0.6s;
    background: #fff;
}
.img_cursos{
    width: 293px;
    height: 170px;
}
.div_img a{
    text-decoration:none; 
    background:#01a02a;
    color:#fff;
    padding: 12px 89px;
    border-radius:20px; 
    margin-left: 15px;
}
.div_img h2{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 27px;
    color: #717171;
    background: white;
}
.div_img p{
    margin-left: 15px;
    margin-bottom: 55px;
    color: #b2b2b2;
}
.curso_card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: 4px dashed #9f9f9f;
    box-shadow: none;
    display: flex;
    margin-top: 20px;
    margin-right: 18px;
    width: 295px;
    height: 394px;
    border-radius: 3px;
    margin-bottom: 40px;
    box-shadow: #fff 1px 1px 3px 0px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}
.curso_card button{
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    color: #989898;
    background-color: #efefef;
    font-weight: bold;
}
.footer{
    background: #fff !important;
}
#footer_container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}
#footer_cont{
    display: flex;
    flex-direction: row;
    padding-top:30px;
    align-items:flex-start;
}
#footer_logo{
    width: 60%;
}
#footer_logo p{
    width: 350px;
    margin-top: 15px;
}
#contato_footer{
    width: 20%;
}
#contato_footer h4{
    margin-top: 0;
}
#contato_footer_a{
    display: inline-block;
    width: 100%;
    color: #999999;
    margin-bottom: 5px;
    text-decoration: none;
}
#contato_footer_a2{
    display: inline-block;
    width: 100%;
    color: #999999;
    margin-bottom: 5px;
    text-decoration: none;
}
#midia_social_footer{
    width: 20%;
}
#midia_social_footer h4{
    margin-top: 0;
}
#footer-social-media-itens a{
    text-decoration: none;margin-right: 15px;
}
#copyright_container{
    width: 100%;margin: 0 auto;background: #eeeceb;
}
#credits{
    height: 60px;
    display: flex;
    align-items: center;
    color: #C2C0C0;
    font-size: 18px;
    margin-left: 20px;
}
div.modal {
	display: none;
	position: fixed;
	background: rgba(1,1,1,0.5);
	z-index: 999999;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.modal-base {
	background: #fff;
	width: 800px;
	margin: 90px auto;
	position: relative;
	border-radius: 5px;
}
#modal_base{
    margin-top: 20px;
}
button.close-modal {
	cursor: pointer;
	position: absolute;
	right: 5px;
    margin-top: 5px;
	background: #fff;
	border: 1px solid #fff;
	width: 65px;
	height: 60px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 100%;
}
#modal_content{
    position: initial;
}
.modal-img-presentation img {
	width: 100%;
	object-fit: cover;
	height: 200px;
	border-radius: 5px 5px 0 0;
}
.modal-img-presentation {
	height: 200px;
}

.modal-briefing {
	text-align: center;
	padding: 0px 70px;
}
.modal-briefing h2 {
	font-size: 28px;
}
.modal-briefing p {
	font-size: 18px;
}
.modal-button {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
button.btn-modal, a.btn-modal {
	width: 40%;
	border: none;
	height: 40px;
	background: #1da2da;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin-bottom: 60px;
	cursor: pointer;
}
.form_course input[type=text], .form_course select, .form_course textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
.form_course label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
.coluna1{
    margin-top: 6px;
}
.form_course .coluna2 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.form_course .coluna3 {
	float: left;
	width: 75%;
	margin-top: 6px;
}
.form_course .row:after {
	content: "";
	display: table;
	clear: both;
}

.form_course {
	padding: 36px;
    margin-top: -38px;
}
img#preview{
	width: 200px;
	max-width: 100%;
}
img#previewUser{
	width: 300px;
	max-width: 100%;
}